<form name="addEditForm" ng-submit="addEditForm.$valid && submit()">
	<table id="detailTable" class="table table-bordered">
		<tr>
			<td><strong>Name:</strong></td>
			<td>
				<div class="form-group" ng-class="{'has-error' : addEditForm.nameInput.$invalid && !addEditForm.nameInput.$pristine }">
					<input name="nameInput" type="text" class="form-control" ng-model="platform.label" required />
					<span ng-show="addEditForm.nameInput.$invalid && !addEditForm.nameInput.$pristine" class="help-block">Enter a name.</span>
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>URL:</strong></td>
			<td>
				<div class="form-group" ng-class="{'has-error' : addEditForm.urlInput.$invalid && !addEditForm.urlInput.$pristine }">
					<input name="urlInput" type="text" class="form-control" ng-model="platform.url" pattern="http[s]?:\/\/(?:www.)?[\w-]+\.[\w]{2,3}.*" required />
					<span ng-show="addEditForm.urlInput.$invalid && !addEditForm.urlInput.$pristine" class="help-block">Enter a valid URL starting with <em>http(s)://</em></span>
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Description:</strong></td>
			<td><textarea class="form-control"
					ng-model="platform.description"></textarea></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Resource Types:</strong></td>
			<td ng-controller="resourceTypeCtrl">
				<div ng-repeat="type in $parent.platform.resourceTypes" class="row-margin-15"> 
					<div class="form-group" ng-class="{'has-error' : addEditForm['rt' + $index].$invalid && !addEditForm['rt' + $index].$pristine }">
						<div ng-class="{'input-group' : $parent.platform.resourceTypes.length>1}" class="row-margin-5">
							<input type="text" class="form-control"	ng-model="type.label" name="rt{{$index}}" cu-focuslast
									typeahead="rt.name as rt.name for rt in resourceTypes | orderBy: 'name' | resourceContainsFilter: $viewValue" required />
							<span ng-if="$parent.platform.resourceTypes.length>1" class="input-group-btn">
								<button type="button" class="btn btn-default" data-type="plus"
									data-field="rt{{$index}}"
									ng-click="$parent.platform.resourceTypes.splice($index,1)">
									<span class="glyphicon glyphicon-minus"></span>&nbsp;
								</button>
							</span>
						</div>
					</div>
					<button type="button" class="btn btn-xs btn-default" ng-click="openModal(type, 'lg')" ng-disabled="!type.label">Add/Remove external resources</button>
				    <span class="label label-info" ng-if="type.externals">{{type.externals.length}} selected</span>
				    <script type="text/ng-template" id="myModalContent.html">
        					<div class="modal-header">
            					<h4 class="modal-title">Select concepts to enrich the definition of your resource type</h4>
        					</div>
        					<div class="modal-body">
								<div class="alert alert-warning" role="alert" ng-if="!isNew"><strong>Careful!</strong> You have selected a resource type that is already defined in the ontology. A selection of further external resources is thus not necessary. If you want to create a new resource type, please give it a different name.</div>
								<div class="form-inline row-margin-15">								
									<label>Search for concepts:</label>
									<input type="text" class="form-control" ng-model="searchTerm" ng-change="retrieveExternal(searchTerm)" />
								</div>
								<tabset>
									<tab>
										<tab-heading>DBPedia resources <span class="badge">{{dbpediaResources.length}}</span></tab-heading>
										<em>Add by double clicking</em>
										<select size="10" class="form-control row-margin-15" ng-model="currentUri" ng-options="resource.uri for resource in dbpediaResources | orderBy: 'uri'" ng-dblclick="addDbpediaConcept(currentUri)"></select>
										<div>
											<strong>Description - <a href="{{currentUri.uri}}" target="blank">{{currentUri.label}}</a>:</strong>
											{{currentUri.description}}
										</div>
									</tab>
									<tab heading="Custom"><br />
										<form name="customForm">
											<label>Enter a concept URI:</label> <em>http(s)://...</em>
											<div class="form-group" ng-class="{'has-error' : customForm.customUrl.$invalid && !customForm.customUrl.$pristine }">
												<input type="url" name="customUrl" class="form-control row-margin-5" ng-model="customUri" pattern="http[s]?:\/\/(?:www.)?[\w-]+\.[\w]{2,3}.*" />
											</div>
											<button type="button" class="btn btn-sm btn-primary" ng-click="addCustomConcept(customUri)" ng-disabled="!customUri || !customForm.customUrl.$valid">Add</button>
										</form>
									</tab>
								</tabset>
								<hr />
            					<strong>Selected:</strong>
								<ul>
									<li ng-repeat="resource in selected" title="{{resource.description}}">
										<a href="{{resource.resource}}">{{resource.resource}}</a>
										<button type="button" class="btn btn-xs btn-danger" ng-click="selected.splice($index,1)">
											<span class="glyphicon glyphicon-minus"></span>&nbsp;
										</button>
									</li>
								</ul>
        					</div>
        					<div class="modal-footer">
            					<button class="btn btn-primary" type="button" ng-click="close()">Close</button>
        					</div>
    				</script>
				</div>
				<button type="button" class="btn btn-default btn-sm pull-right"
					ng-click="addOption($parent.platform.resourceTypes)">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Add another type
				</button>
			</td>
			<td><strong><a href="ontology/resource/Resource_Type" target="_blank">{{descriptions["Resource_Type"]["label"]}}</a>:</strong>
				{{descriptions["Resource_Type"]["comment"]}}
				<div><em>Help adding more meaning to a resource type if you don't choose a proposed one: Add external ontological concepts that describe the type!</em></div>
			</td>
		</tr>
		<tr>
			<td><strong>Consumer Involvement:</strong></td>
			<td><select class="form-control"
				ng-model="platform.consumerInvolvement">
					<option value="Full-service">Full-service</option>
					<option value="Self-service">Self-service</option>
					<option value="In-Between">In-Between</option>
			</select></td>
			<td><strong><a href="ontology/resource/Consumer_Involvement" target="_blank">{{descriptions["Consumer_Involvement"]["label"]}}</a>:</strong>
			{{descriptions["Consumer_Involvement"]["comment"]}}
			<ul>
				<li><strong><a href="ontology/resource/Full-service" target="_blank">{{descriptions["Full-service"]["label"]}}</a>:</strong>
					{{descriptions["Full-service"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Self-service" target="_blank">{{descriptions["Self-service"]["label"]}}</a>:</strong>
					{{descriptions["Self-service"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/In-Between" target="_blank">{{descriptions["In-Between"]["label"]}}</a>:</strong>
					{{descriptions["In-Between"]["comment"]}}</li>
			</ul></td>
		</tr>
		<tr>
			<td><strong>Country of launch:</strong></td>
			<td><p>
					<input type="text" class="form-control input-sm"
						placeholder="Search country..."
						ng-model="platform.launchCountry.search"
						typeahead="country.countryName + ' (' + country.countryCode + ')' for country in countries | orderBy: 'countryName' | countryContainsFilter: $viewValue"
						typeahead-on-select="launchCountrySelected($item)"
						typeahead-editable="false" />
				</p>
				<div ng-show="platform.launchCountry.geonames">
					<a href="{{platform.launchCountry.geonames}}" target="_blank">{{platform.launchCountry.label}}
							({{platform.launchCountry.countryCode}})</a>
					<button type="button" class="btn btn-xs btn-danger" ng-click="platform.launchCountry = null">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>City of launch:</strong></td>
			<td><p>
					<input type="text" class="form-control input-sm"
						placeholder="Search city..." ng-model="platform.launchCity.search"
						typeahead="(city.toponymName + ', ' + city.adminName1 + ' (' + city.countryCode + ')') for city in findLaunchCity()"
						typeahead-wait-ms="750"
						typeahead-on-select="launchCitySelected($item)" />
				</p>
				<div ng-show="platform.launchCity.geonames">
					<a href="{{platform.launchCity.geonames}}" target="_blank">{{platform.launchCity.label}}<span ng-show="platform.launchCity.adminName1">, {{platform.launchCity.adminName1}}</span>
							({{platform.launchCity.countryCode}})</a>
					<button type="button" class="btn btn-xs btn-danger" ng-click="platform.launchCity = null">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Year of launch:</strong></td>
			<td>
				<select ng-model="platform.yearLaunch" class="form-control" ng-options="('http://www.discover2share.net/d2s-ont/' + year) as year for year in getYears()">
					<option value=""></option>
				</select>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Country of residence:</strong></td>
			<td><p>
					<input type="text" class="form-control input-sm"
						placeholder="Search country..."
						ng-model="platform.residenceCountry.search"
						typeahead="country.countryName + ' (' + country.countryCode + ')' for country in countries | orderBy: 'countryName' | countryContainsFilter: $viewValue"
						typeahead-on-select="residenceCountrySelected($item)"
						typeahead-editable="false" />
				</p>
				<div ng-show="platform.residenceCountry.geonames">
					<a href="{{platform.residenceCountry.geonames}}" target="_blank">{{platform.residenceCountry.label}}
							({{platform.residenceCountry.countryCode}})</a>
					<button type="button" class="btn btn-xs btn-danger" ng-click="platform.residenceCountry = null">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>City of residence:</strong></td>
			<td><p>
					<input type="text" class="form-control input-sm"
						placeholder="Search city..."
						ng-model="platform.residenceCity.search"
						typeahead="(city.toponymName + ', ' + city.adminName1 + ' (' + city.countryCode + ')') for city in findResidenceCity()"
						typeahead-wait-ms="750"
						typeahead-on-select="residenceCitySelected($item)" />
				</p> 
				<div ng-show="platform.residenceCity.geonames">
					<a href="{{platform.residenceCity.geonames}}" target="_blank">{{platform.residenceCity.label}}<span ng-show="platform.residenceCity.adminName1">, {{platform.residenceCity.adminName1}}</span>
							({{platform.residenceCity.countryCode}})</a>
					<button type="button" class="btn btn-xs btn-danger" ng-click="platform.residenceCity = null">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Languages:</strong></td>
			<td>
				<p ng-repeat="language in platform.languageObjects" ng-class="{'input-group' : platform.languageObjects.length>1}">
					<select class="form-control" ng-model="language.resourceName" ng-options="('http://www.discover2share.net/d2s-ont/' + l.resourceName) as l.name for l in languages"
						name="lang{{$index}}" cu-enter="addOption(platform.languageObjects)" cu-focuslast>
					</select> <span class="input-group-btn" ng-if="platform.languageObjects.length>1">
						<button type="button" class="btn btn-default" data-type="plus"
							data-field="lang{{$index}}"
							ng-click="platform.languageObjects.splice($index,1)">
							<span class="glyphicon glyphicon-minus"></span>&nbsp;
						</button>
					</span>
				</p>
				<button type="button" class="btn btn-default btn-sm pull-right"
					ng-click="addOption(platform.languageObjects)">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Add another language
				</button>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Market Mediation:</strong></td>
			<td><div ng-repeat="mediation in marketMediations"
					class="checkbox">
					<label> <input type="checkbox" value="{{mediation}}"
						ng-checked="platform.marketMediations.indexOf(mediation)>-1"
						ng-click="toggleSelection(mediation,platform.marketMediations)">
						{{mediation}}
					</label>
				</div></td>
			<td><strong><a href="ontology/resource/Market_Mediation" target="_blank">{{descriptions["Market_Mediation"]["label"]}}</a>:</strong>
			{{descriptions["Market_Mediation"]["comment"]}}
			<ul>
				<li><strong><a href="ontology/resource/Not-for-profit" target="_blank">{{descriptions["Not-for-profit"]["label"]}}</a>:</strong>
					{{descriptions["Not-for-profit"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Profit_from_peer_consumers" target="_blank">{{descriptions["Profit_from_peer_consumers"]["label"]}}</a>:</strong>
					{{descriptions["Profit_from_peer_consumers"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Profit_from_peer_providers" target="_blank">{{descriptions["Profit_from_peer_providers"]["label"]}}</a>:</strong>
					{{descriptions["Profit_from_peer_providers"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Profit_from_both" target="_blank">{{descriptions["Profit_from_both"]["label"]}}</a>:</strong>
					{{descriptions["Profit_from_both"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Indirect_profit" target="_blank">{{descriptions["Indirect_profit"]["label"]}}</a>:</strong>
					{{descriptions["Indirect_profit"]["comment"]}}
					<ul>
						<li><strong><a href="ontology/resource/Profit_from_advertisement" target="_blank">{{descriptions["Profit_from_advertisement"]["label"]}}</a>:</strong>
							{{descriptions["Profit_from_advertisement"]["comment"]}}</li>
						<li><strong><a href="ontology/resource/Profit_from_user_data" target="_blank">{{descriptions["Profit_from_user_data"]["label"]}}</a>:</strong>
							{{descriptions["Profit_from_user_data"]["comment"]}}</li>
					</ul></li>
				<li>Additional attributes
						<ul>
							<li><strong><a href="ontology/resource/Per_transaction" target="_blank">{{descriptions["Per_transaction"]["label"]}}</a>:</strong>
								{{descriptions["Per_transaction"]["comment"]}}</li>
							<li><strong><a href="ontology/resource/Per_listing" target="_blank">{{descriptions["Per_listing"]["label"]}}</a>:</strong>
								{{descriptions["Per_listing"]["comment"]}}</li>
							<li><strong><a href="ontology/resource/Membership_fee" target="_blank">{{descriptions["Membership_fee"]["label"]}}</a>:</strong>
								{{descriptions["Membership_fee"]["comment"]}}</li>
						</ul>
				</li>
			</ul></td>
		</tr>
		<tr>
			<td><strong>Market Integration:</strong></td>
			<td><p>
					<select class="form-control" ng-model="platform.offering">
						<option value="Integrated">Integrated</option>
						<option value="Separated">Separated</option>
					</select>
				</p>
				<p>
					<select class="form-control" ng-model="platform.geographicScope">
						<option value="Neighbourhood-wide">Neighbourhood-wide</option>
						<option value="City-wide">City-wide</option>
						<option value="State-wide">State-wide</option>
						<option value="Country-wide">Country-wide</option>
						<option value="Region-wide">Region-wide</option>
						<option value="Global">Global</option>
					</select>
				</p></td>
			<td>
				<p>
					<strong><a href="ontology/resource/Market_Integration" target="_blank">{{descriptions["Market_Integration"]["label"]}}</a>:</strong>
					{{descriptions["Market_Integration"]["comment"]}}
				</p> <strong><a href="ontology/resource/Market_Offering" target="_blank">{{descriptions["Market_Offering"]["label"]}}</a>:</strong>
				{{descriptions["Market_Offering"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Integrated" target="_blank">{{descriptions["Integrated"]["label"]}}</a>:</strong>
						{{descriptions["Integrated"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Separated" target="_blank">{{descriptions["Separated"]["label"]}}</a>:</strong>
						{{descriptions["Separated"]["comment"]}}</li>
				</ul> <strong><a href="ontology/resource/Geographic_Scope" target="_blank">{{descriptions["Geographic_Scope"]["label"]}}</a>:</strong>
				{{descriptions["Geographic_Scope"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Neighbourhood-wide" target="_blank">{{descriptions["Neighbourhood-wide"]["label"]}}</a></strong></li>
					<li><strong><a href="ontology/resource/City-wide" target="_blank">{{descriptions["City-wide"]["label"]}}</a></strong></li>
					<li><strong><a href="ontology/resource/State-wide" target="_blank">{{descriptions["State-wide"]["label"]}}</a></strong></li>
					<li><strong><a href="ontology/resource/Country-wide" target="_blank">{{descriptions["Country-wide"]["label"]}}</a></strong></li>
					<li><strong><a href="ontology/resource/Global" target="_blank">{{descriptions["Global"]["label"]}}</a></strong></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>Money Flow:</strong></td>
			<td><select class="form-control" ng-model="platform.moneyFlow">
					<option value="Consumer to consumer">Consumer to consumer</option>
					<option value="Consumer to business to consumer">Consumer to business to consumer</option>
			</select></td>
			<td><strong><a href="ontology/resource/Money_Flow" target="_blank">{{descriptions["Money_Flow"]["label"]}}</a>:</strong>
			{{descriptions["Money_Flow"]["comment"]}}
			<ul>
				<li><strong><a href="ontology/resource/C2C" target="_blank">{{descriptions["C2C"]["label"]}}</a>:</strong>
					{{descriptions["C2C"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/C2B2C" target="_blank">{{descriptions["C2B2C"]["label"]}}</a>:</strong>
					{{descriptions["C2B2C"]["comment"]}}</li>
			</ul></td>
		</tr>
		<tr>
			<td><strong>P2P SCC Pattern:</strong></td>
			<td><p>
					<select class="form-control" ng-model="platform.pattern">
						<option value="Deferred">Deferred</option>
						<option value="Immediate">Immediate</option>
						<option value="Recurrent">Recurrent</option>
					</select>
				</p>
				<p>
					<select class="form-control" ng-model="platform.temporality">
						<option value="Once">Once</option>
						<option value="Often">Often</option>
					</select>
				</p></td>
			<td><strong><a href="ontology/resource/P2P_SCC_Pattern" target="_blank">{{descriptions["P2P_SCC_Pattern"]["label"]}}</a>:</strong>
			{{descriptions["P2P_SCC_Pattern"]["comment"]}}
			<ul>
				<li><strong><a href="ontology/resource/Deferred" target="_blank">{{descriptions["Deferred"]["label"]}}</a>:</strong>
					{{descriptions["Deferred"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Immediate" target="_blank">{{descriptions["Immediate"]["label"]}}</a>:</strong>
					{{descriptions["Immediate"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Recurrent" target="_blank">{{descriptions["Recurrent"]["label"]}}</a>:</strong>
					{{descriptions["Recurrent"]["comment"]}}</li>
			</ul> <strong><a href="ontology/resource/Temporality" target="_blank">{{descriptions["Temporality"]["label"]}}</a>:</strong>
			{{descriptions["Temporality"]["comment"]}}
			<ul>
				<li><strong><a href="ontology/resource/Once" target="_blank">{{descriptions["Once"]["label"]}}</a>:</strong>
					{{descriptions["Once"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Often" target="_blank">{{descriptions["Often"]["label"]}}</a>:</strong>
					{{descriptions["Often"]["comment"]}}</li>
			</ul></td>
		</tr>
		<tr>
			<td><strong>Promoted Consumerism:</strong></td>
			<td>
				<div ng-repeat="consumerism in consumerisms" class="checkbox">
					<label> <input type="checkbox" name="consumerisms[]"
						value="{{consumerism}}"
						ng-checked="platform.consumerisms.indexOf(consumerism)>-1"
						ng-click="toggleSelection(consumerism,platform.consumerisms)">
						{{consumerism}}
					</label>
				</div>
			</td>
			<td><strong><a href="ontology/resource/Sustainable_Consumerism" target="_blank">{{descriptions["Sustainable_Consumerism"]["label"]}}</a>:</strong>
			{{descriptions["Sustainable_Consumerism"]["comment"]}}
			<ul>
				<li><strong><a href="ontology/resource/Social" target="_blank">{{descriptions["Social"]["label"]}}</a>:</strong>
					{{descriptions["Social"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Environmental" target="_blank">{{descriptions["Environmental"]["label"]}}</a>:</strong>
					{{descriptions["Environmental"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Economic" target="_blank">{{descriptions["Economic"]["label"]}}</a>:</strong>
					{{descriptions["Economic"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/None" target="_blank">{{descriptions["None"]["label"]}}</a>:</strong>
					{{descriptions["None"]["comment"]}}</li>
			</ul></td>
		</tr>
		<tr>
			<td><strong>Resource Owner:</strong></td>
			<td><select class="form-control"
				ng-model="platform.resourceOwner">
					<option value="Private">Private</option>
					<option value="Business">Business</option>
					<option value="Private and business">Private and business</option>
			</select></td>
			<td><strong><a href="ontology/resource/Resource_Owner" target="_blank">{{descriptions["Resource_Owner"]["label"]}}</a>:</strong>
			{{descriptions["Resource_Owner"]["comment"]}}
			<ul>
				<li><strong><a href="ontology/resource/Private" target="_blank">{{descriptions["Private"]["label"]}}</a>:</strong>
					{{descriptions["Private"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Business" target="_blank">{{descriptions["Business"]["label"]}}</a>:</strong>
					{{descriptions["Business"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Private_and_business" target="_blank">{{descriptions["Private_and_business"]["label"]}}</a>:</strong>
					{{descriptions["Private_and_business"]["comment"]}}</li>
			</ul></td>
		</tr>
		<tr>
			<td><strong>Service Duration Minimum:</strong></td>
			<td><select class="form-control"
				ng-model="platform.serviceDurationMin">
					<option value="Minutes">Minutes</option>
					<option value="Hours">Hours</option>
					<option value="Days">Days</option>
					<option value="Weeks">Weeks</option>
					<option value="Months">Months</option>
			</select></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Service Duration Maximum:</strong></td>
			<td><select class="form-control"
				ng-model="platform.serviceDurationMax">
					<option value="Minutes">Minutes</option>
					<option value="Hours">Hours</option>
					<option value="Days">Days</option>
					<option value="Weeks">Weeks</option>
					<option value="Months">Months</option>
			</select></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Smartphone Apps:</strong></td>
			<td><div ng-repeat="app in smartphoneApps" class="checkbox">
					<label> <input type="checkbox" name="platform.apps[]"
						value="{{app}}" ng-checked="platform.apps.indexOf(app)>-1"
						ng-click="toggleSelection(app,platform.apps)"> {{app}}
					</label>
				</div></td>
			<td><strong><a href="ontology/resource/Smartphone_App" target="_blank">{{descriptions["Smartphone_App"]["label"]}}</a>:</strong>
			{{descriptions["Smartphone_App"]["comment"]}}
			<ul>
				<li><strong><a href="ontology/resource/Android_app" target="_blank">{{descriptions["Android_app"]["label"]}}</a>:</strong>
					{{descriptions["Android_app"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/iOS_app" target="_blank">{{descriptions["iOS_app"]["label"]}}</a>:</strong>
					{{descriptions["iOS_app"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Windows_Phone_app" target="_blank">{{descriptions["Windows_Phone_app"]["label"]}}</a>:</strong>
					{{descriptions["Windows_Phone_app"]["comment"]}}</li>
			</ul></td>
		</tr>
		<tr>
			<td><strong>Trust Contribution:</strong></td>
			<td><div ng-repeat="contribution in trustContributions"
					class="checkbox">
					<label> <input type="checkbox"
						name="platform.trustContributions[]" value="{{contribution}}"
						ng-checked="platform.trustContributions.indexOf(contribution)>-1"
						ng-click="toggleSelection(contribution,platform.trustContributions)">
						{{contribution}}
					</label>
				</div></td>
			<td><strong><a href="ontology/resource/Trust_Contribution" target="_blank">{{descriptions["Trust_Contribution"]["label"]}}</a>:</strong>
			{{descriptions["Trust_Contribution"]["comment"]}}
			<ul>
				<li><strong><a href="ontology/resource/Provider_ratings" target="_blank">{{descriptions["Provider_ratings"]["label"]}}</a>:</strong>
					{{descriptions["Provider_ratings"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Provider_and_consumer_ratings" target="_blank">{{descriptions["Provider_and_consumer_ratings"]["label"]}}</a>:</strong>
					{{descriptions["Provider_and_consumer_ratings"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Referral" target="_blank">{{descriptions["Referral"]["label"]}}</a>:</strong>
					{{descriptions["Referral"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Vouching" target="_blank">{{descriptions["Vouching"]["label"]}}</a>:</strong>
					{{descriptions["Vouching"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Value-added_services" target="_blank">{{descriptions["Value-added_services"]["label"]}}</a>:</strong>
					{{descriptions["Value-added_services"]["comment"]}}</li>
			</ul></td>
		</tr>
		<tr>
			<td><strong>Type of Accessed Object:</strong></td>
			<td><select class="form-control"
				ng-model="platform.typeOfAccessedObject">
					<option value="Functional">Functional</option>
					<option value="Experiential">Experiential</option>
					<option value="Mixed">Mixed</option>
			</select></td>
			<td><strong><a href="ontology/resource/Type_of_Accessed_Object" target="_blank">{{descriptions["Type_of_Accessed_Object"]["label"]}}</a>:</strong>
			{{descriptions["Type_of_Accessed_Object"]["comment"]}}
			<ul>
				<li><strong><a href="ontology/resource/Functional" target="_blank">{{descriptions["Functional"]["label"]}}</a>:</strong>
					{{descriptions["Functional"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Experiential" target="_blank">{{descriptions["Experiential"]["label"]}}</a>:</strong>
					{{descriptions["Experiential"]["comment"]}}</li>
				<li><strong><a href="ontology/resource/Mixed" target="_blank">{{descriptions["Mixed"]["label"]}}</a>:</strong>
					{{descriptions["Mixed"]["comment"]}}</li>
			</ul></td>
		</tr>
	</table>
	<div class="col-md-10">
		<input type="submit" value="{{submitBtnText}}" class="btn btn-primary" />&nbsp;
		<label class="checkbox-inline" ng-if="!isSuggestion && loggedIn()"><input type="checkbox" ng-model="$parent.directSave" />Skip review and add to ontology right away</label>
	</div>
	
</form>

<script type="text/ng-template" id="editExternalModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Platform suggestion added!</h4>
        </div>
        <div class="modal-body">
        	<p>The new platform suggestion was successfully added for review by a moderator.</p>
			<p>While your suggestion has not yet been added to the ontology or removed, you can edit it under the following sub-address:<br/>
				<a href="{{internalUrl}}" target="blank">{{internalUrl}}</a>
			</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>
