<form ng-submit="submit()">
	<table id="detailTable" class="table table-bordered">
		<tr>
			<td><strong>Name:</strong></td>
			<td><input type="text" class="form-control"
				ng-model="platform.label" /></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>URL:</strong></td>
			<td><input type="text" class="form-control"
				ng-model="platform.url" /></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Description:</strong></td>
			<td><textarea class="form-control"
					ng-model="platform.description"></textarea></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Resource Types:</strong></td>
			<td>
				<p ng-repeat="type in platform.resourceTypeObjects" ng-class="{'input-group' : platform.resourceTypeObjects.length>1}">
					<input type="text" class="form-control" ng-model="type.label"
						name="rt{{$index}}" cu-enter="addOption(platform.resourceTypeObjects)" cu-focuslast /> 
					<span ng-if="platform.resourceTypeObjects.length>1" class="input-group-btn">
						<button type="button" class="btn btn-default" data-type="plus"
							data-field="rt{{$index}}"
							ng-click="platform.resourceTypeObjects.splice($index,1)">
							<span class="glyphicon glyphicon-minus"></span>&nbsp;
						</button>
					</span>
				</p>
				<button type="button" class="btn btn-default btn-sm pull-right"
					ng-click="addOption(platform.resourceTypeObjects)">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Add another type
				</button>
			</td>
			<td><strong>{{descriptions["Resource_Type"]["label"]}}:</strong>
				{{descriptions["Resource_Type"]["comment"]}}</td>
		</tr>
		<tr>
			<td><strong>Consumer Involvement:</strong></td>
			<td><select class="form-control"
				ng-model="platform.consumerInvolvement">
					<option value="Full-Service">Full-Service</option>
					<option value="Self-Service">Self-Service</option>
					<option value="In-Between">In-Between</option>
			</select></td>
			<td><strong>{{descriptions["Consumer_Involvement"]["label"]}}:</strong>
				{{descriptions["Consumer_Involvement"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Full-service"]["label"]}}:</strong>
						{{descriptions["Full-service"]["comment"]}}</li>
					<li><strong>{{descriptions["Self-service"]["label"]}}:</strong>
						{{descriptions["Self-service"]["comment"]}}</li>
					<li><strong>{{descriptions["In-Between"]["label"]}}:</strong>
						{{descriptions["In-Between"]["comment"]}}</li>
				</ul></td>
		</tr>
		<tr>
			<td><strong>Country of launch:</strong></td>
			<td><p>
					<input type="text" class="form-control"
						placeholder="Search country..."
						ng-model="platform.launchCountry.search"
						typeahead="country.countryName + ' (' + country.countryCode + ')' for country in countries | orderBy: 'countryName' | countryContainsFilter: $viewValue"
						typeahead-on-select="launchCountrySelected($item)"
						typeahead-editable="false" />
				</p> <a href="{{platform.launchCountry.geonames}}" target="_blank"
				ng-show="platform.launchCountry.item.countryId">{{platform.launchCountry.label}}
					({{platform.launchCountry.item.countryCode}})</a></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>City of launch:</strong></td>
			<td><p>
					<input type="text" class="form-control"
						placeholder="Search city..." ng-model="platform.launchCity.search"
						typeahead="(city.toponymName + ', ' + city.adminName1 + ' (' + city.countryCode + ')') for city in findLaunchCity()"
						typeahead-wait-ms="750"
						typeahead-on-select="launchCitySelected($item)" />
				</p> <a href="{{platform.launchCity.geonames}}" target="_blank"
				ng-show="platform.launchCity.label">{{platform.launchCity.label}},
					{{platform.launchCity.item.adminName1}}
					({{platform.launchCity.item.countryCode}})</a></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Year of launch:</strong></td>
			<td><select ng-model="platform.yearLaunch" class="form-control">
					<option ng-repeat="year in getYears()"
						value="http://www.discover2share.net/d2s-ont/{{year}}">{{year}}</option>
			</select></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Country of residence:</strong></td>
			<td><p>
					<input type="text" class="form-control"
						placeholder="Search country..."
						ng-model="platform.residenceCountry.search"
						typeahead="country.countryName + ' (' + country.countryCode + ')' for country in countries | orderBy: 'countryName' | countryContainsFilter: $viewValue"
						typeahead-on-select="residenceCountrySelected($item)"
						typeahead-editable="false" />
				</p> <a href="{{platform.residenceCountry.geonames}}" target="_blank"
				ng-show="platform.residenceCountry.item.countryId">{{platform.residenceCountry.label}}
					({{platform.residenceCountry.item.countryCode}})</a></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>City of residence:</strong></td>
			<td><p>
					<input type="text" class="form-control"
						placeholder="Search city..."
						ng-model="platform.residenceCity.search"
						typeahead="(city.toponymName + ', ' + city.adminName1 + ' (' + city.countryCode + ')') for city in findResidenceCity()"
						typeahead-wait-ms="750"
						typeahead-on-select="residenceCitySelected($item)" />
				</p> <a href="{{platform.residenceCity.geonames}}" target="_blank"
				ng-show="platform.residenceCity.label">{{platform.residenceCity.label}},
					{{platform.residenceCity.item.adminName1}}
					({{platform.residenceCity.item.countryCode}})</a></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Languages:</strong></td>
			<td>
				<p ng-repeat="language in platform.languageObjects" ng-class="{'input-group' : platform.languageObjects.length>1}">
					<select class="form-control" ng-model="language.resourceName"
						name="lang{{$index}}" cu-enter="addOption(platform.languageObjects)" cu-focuslast>
						<option ng-repeat="l in languages" value="http://www.discover2share.net/d2s-ont/{{l.resourceName}}">{{l.name}}</option>
					</select> <span class="input-group-btn" ng-if="platform.languageObjects.length>1">
						<button type="button" class="btn btn-default" data-type="plus"
							data-field="lang{{$index}}"
							ng-click="platform.languageObjects.splice($index,1)">
							<span class="glyphicon glyphicon-minus"></span>&nbsp;
						</button>
					</span>
				</p>
				<button type="button" class="btn btn-default btn-sm pull-right"
					ng-click="addOption(platform.languageObjects)">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Add another type
				</button>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Market Mediation:</strong></td>
			<td><div ng-repeat="mediation in marketMediations"
					class="checkbox">
					<label> <input type="checkbox" value="{{mediation}}"
						ng-checked="platform.marketMediations.indexOf(mediation)>-1"
						ng-click="toggleSelection(mediation,platform.marketMediations)">
						{{mediation}}
					</label>
				</div></td>
			<td><strong>{{descriptions["Market_Mediation"]["label"]}}:</strong>
				{{descriptions["Market_Mediation"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Profit_from_peer_consumers"]["label"]}}:</strong>
						{{descriptions["Profit_from_peer_consumers"]["comment"]}}</li>
					<li><strong>{{descriptions["Profit_from_peer_providers"]["label"]}}:</strong>
						{{descriptions["Profit_from_peer_providers"]["comment"]}}</li>
					<li><strong>{{descriptions["Profit_from_both"]["label"]}}:</strong>
						{{descriptions["Profit_from_both"]["comment"]}}</li>
					<li><strong>{{descriptions["Indirect_profit"]["label"]}}:</strong>
						{{descriptions["Indirect_profit"]["comment"]}}
						<ul>
							<li><strong>{{descriptions["Profit_from_advertisement"]["label"]}}:</strong>
								{{descriptions["Profit_from_advertisement"]["comment"]}}</li>
							<li><strong>{{descriptions["Profit_from_user_data"]["label"]}}:</strong>
								{{descriptions["Profit_from_user_data"]["comment"]}}</li>
						</ul></li>
					<li>Additional attributes
						<ul>
							<li><strong>{{descriptions["Per_transaction"]["label"]}}:</strong>
								{{descriptions["Per_transaction"]["comment"]}}</li>
							<li><strong>{{descriptions["Per_listing"]["label"]}}:</strong>
								{{descriptions["Per_listing"]["comment"]}}</li>
							<li><strong>{{descriptions["Membership_fee"]["label"]}}:</strong>
								{{descriptions["Membership_fee"]["comment"]}}</li>
						</ul>
					</li>
				</ul></td>
		</tr>
		<tr>
			<td><strong>Integration:</strong></td>
			<td><p>
					<select class="form-control" ng-model="platform.offering">
						<option value="Integrated">Integrated</option>
						<option value="Separated">Separated</option>
					</select>
				</p>
				<p>
					<select class="form-control" ng-model="platform.geographicScope">
						<option value="Neighbourhood-wide">Neighbourhood-wide</option>
						<option value="City-wide">City-wide</option>
						<option value="State-wide">State-wide</option>
						<option value="Country-wide">Country-wide</option>
						<option value="Region-wide">Region-wide</option>
						<option value="Global">Global</option>
					</select>
				</p></td>
			<td>
				<p>
					<strong>{{descriptions["Market_Integration"]["label"]}}:</strong>
					{{descriptions["Market_Integration"]["comment"]}}
				</p> <strong>{{descriptions["Market_Offering"]["label"]}}:</strong>
				{{descriptions["Market_Offering"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Integrated"]["label"]}}:</strong>
						{{descriptions["Integrated"]["comment"]}}</li>
					<li><strong>{{descriptions["Separated"]["label"]}}:</strong>
						{{descriptions["Separated"]["comment"]}}</li>
				</ul> <strong>{{descriptions["Geographic_Scope"]["label"]}}:</strong>
				{{descriptions["Geographic_Scope"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Neighbourhood-wide"]["label"]}}</strong></li>
					<li><strong>{{descriptions["City-wide"]["label"]}}</strong></li>
					<li><strong>{{descriptions["State-wide"]["label"]}}</strong></li>
					<li><strong>{{descriptions["Country-wide"]["label"]}}</strong></li>
					<li><strong>{{descriptions["Global"]["label"]}}</strong></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>Money Flow:</strong></td>
			<td><select class="form-control" ng-model="platform.moneyFlow">
					<option value="C2C">C2C</option>
					<option value="C2B2C">C2B2C</option>
			</select></td>
			<td><strong>{{descriptions["Money_Flow"]["label"]}}:</strong>
				{{descriptions["Money_Flow"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["C2C"]["label"]}}:</strong>
						{{descriptions["C2C"]["comment"]}}</li>
					<li><strong>{{descriptions["C2B2C"]["label"]}}:</strong>
						{{descriptions["C2B2C"]["comment"]}}</li>
				</ul></td>
		</tr>
		<tr>
			<td><strong>P2P SCC Pattern:</strong></td>
			<td><p>
					<select class="form-control" ng-model="platform.pattern">
						<option value="Deferred">Deferred</option>
						<option value="Immediate">Immediate</option>
						<option value="Recurrent">Recurrent</option>
					</select>
				</p>
				<p>
					<select class="form-control" ng-model="platform.temporality">
						<option value="Once">Once</option>
						<option value="Often">Often</option>
					</select>
				</p></td>
			<td><strong>{{descriptions["P2P_SCC_Pattern"]["label"]}}:</strong>
				{{descriptions["P2P_SCC_Pattern"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Deferred"]["label"]}}:</strong>
						{{descriptions["Deferred"]["comment"]}}</li>
					<li><strong>{{descriptions["Immediate"]["label"]}}:</strong>
						{{descriptions["Immediate"]["comment"]}}</li>
					<li><strong>{{descriptions["Recurrent"]["label"]}}:</strong>
						{{descriptions["Recurrent"]["comment"]}}</li>
				</ul> <strong>{{descriptions["Temporality"]["label"]}}:</strong>
				{{descriptions["Temporality"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Once"]["label"]}}:</strong>
						{{descriptions["Once"]["comment"]}}</li>
					<li><strong>{{descriptions["Often"]["label"]}}:</strong>
						{{descriptions["Often"]["comment"]}}</li>
				</ul></td>
		</tr>
		<tr>
			<td><strong>Promoted Consumerism:</strong></td>
			<td>
				<div ng-repeat="consumerism in consumerisms" class="checkbox">
					<label> <input type="checkbox" name="consumerisms[]"
						value="{{consumerism}}"
						ng-checked="platform.consumerisms.indexOf(consumerism)>-1"
						ng-click="toggleSelection(consumerism,platform.consumerisms)">
						{{consumerism}}
					</label>
				</div>
			</td>
			<td><strong>{{descriptions["Sustainable_Consumerism"]["label"]}}:</strong>
				{{descriptions["Sustainable_Consumerism"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Social"]["label"]}}:</strong>
						{{descriptions["Social"]["comment"]}}</li>
					<li><strong>{{descriptions["Environmental"]["label"]}}:</strong>
						{{descriptions["Environmental"]["comment"]}}</li>
					<li><strong>{{descriptions["Economic"]["label"]}}:</strong>
						{{descriptions["Economic"]["comment"]}}</li>
					<li><strong>{{descriptions["None"]["label"]}}:</strong>
						{{descriptions["None"]["comment"]}}</li>
				</ul></td>
		</tr>
		<tr>
			<td><strong>Resource Owner:</strong></td>
			<td><select class="form-control"
				ng-model="platform.resourceOwner">
					<option value="Private">Private</option>
					<option value="Business">Business</option>
					<option value="Private_and_business">Private and business</option>
			</select></td>
			<td><strong>{{descriptions["Resource_Owner"]["label"]}}:</strong>
				{{descriptions["Resource_Owner"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Private"]["label"]}}:</strong>
						{{descriptions["Private"]["comment"]}}</li>
					<li><strong>{{descriptions["Business"]["label"]}}:</strong>
						{{descriptions["Business"]["comment"]}}</li>
					<li><strong>{{descriptions["Private_and_business"]["label"]}}:</strong>
						{{descriptions["Private_and_business"]["comment"]}}</li>
				</ul></td>
		</tr>
		<tr>
			<td><strong>Service Duration Minimum:</strong></td>
			<td><select class="form-control"
				ng-model="platform.serviceDurationMin">
					<option value="http://www.w3.org/2006/time#unitMinute">Minutes</option>
					<option value="http://www.w3.org/2006/time#unitHour">Hours</option>
					<option value="http://www.w3.org/2006/time#unitDay">Days</option>
					<option value="http://www.w3.org/2006/time#unitWeek">Weeks</option>
					<option value="http://www.w3.org/2006/time#unitMonth">Months</option>
			</select></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Service Duration Maximum:</strong></td>
			<td><select class="form-control"
				ng-model="platform.serviceDurationMax">
					<option value="http://www.w3.org/2006/time#unitMinute">Minutes</option>
					<option value="http://www.w3.org/2006/time#unitHour">Hours</option>
					<option value="http://www.w3.org/2006/time#unitDay">Days</option>
					<option value="http://www.w3.org/2006/time#unitWeek">Weeks</option>
					<option value="http://www.w3.org/2006/time#unitMonth">Months</option>
			</select></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Smartphone Apps:</strong></td>
			<td><div ng-repeat="app in smartphoneApps" class="checkbox">
					<label> <input type="checkbox" name="platform.apps[]"
						value="{{app}}" ng-checked="platform.apps.indexOf(app)>-1"
						ng-click="toggleSelection(app,platform.apps)"> {{app}}
					</label>
				</div></td>
			<td><strong>{{descriptions["Smartphone_App"]["label"]}}:</strong>
				{{descriptions["Smartphone_App"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Android_app"]["label"]}}:</strong>
						{{descriptions["Android_app"]["comment"]}}</li>
					<li><strong>{{descriptions["iOS_app"]["label"]}}:</strong>
						{{descriptions["iOS_app"]["comment"]}}</li>
					<li><strong>{{descriptions["Windows_Phone_app"]["label"]}}:</strong>
						{{descriptions["Windows_Phone_app"]["comment"]}}</li>
				</ul></td>
		</tr>
		<tr>
			<td><strong>Trust Contribution:</strong></td>
			<td><div ng-repeat="contribution in trustContributions"
					class="checkbox">
					<label> <input type="checkbox"
						name="platform.trustContributions[]" value="{{contribution}}"
						ng-checked="platform.trustContributions.indexOf(contribution)>-1"
						ng-click="toggleSelection(contribution,platform.trustContributions)">
						{{contribution}}
					</label>
				</div></td>
			<td><strong>{{descriptions["Trust_Contribution"]["label"]}}:</strong>
				{{descriptions["Trust_Contribution"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Provider_ratings"]["label"]}}:</strong>
						{{descriptions["Provider_ratings"]["comment"]}}</li>
					<li><strong>{{descriptions["Provider_and_consumer_ratings"]["label"]}}:</strong>
						{{descriptions["Provider_and_consumer_ratings"]["comment"]}}</li>
					<li><strong>{{descriptions["Referral"]["label"]}}:</strong>
						{{descriptions["Referral"]["comment"]}}</li>
					<li><strong>{{descriptions["Vouching"]["label"]}}:</strong>
						{{descriptions["Vouching"]["comment"]}}</li>
					<li><strong>{{descriptions["Value-added_services"]["label"]}}:</strong>
						{{descriptions["Value-added_services"]["comment"]}}</li>
				</ul></td>
		</tr>
		<tr>
			<td><strong>Type of Accessed Object:</strong></td>
			<td><select class="form-control"
				ng-model="platform.typeOfAccessedObject">
					<option value="Functional">Functional</option>
					<option value="Experiential">Experiential</option>
					<option value="Mixed">Mixed</option>
			</select></td>
			<td><strong>{{descriptions["Type_of_Accessed_Object"]["label"]}}:</strong>
				{{descriptions["Type_of_Accessed_Object"]["comment"]}}
				<ul>
					<li><strong>{{descriptions["Functional"]["label"]}}:</strong>
						{{descriptions["Functional"]["comment"]}}</li>
					<li><strong>{{descriptions["Experiential"]["label"]}}:</strong>
						{{descriptions["Experiential"]["comment"]}}</li>
					<li><strong>{{descriptions["Mixed"]["label"]}}:</strong>
						{{descriptions["Mixed"]["comment"]}}</li>
				</ul></td>
		</tr>
	</table>
	<div class="col-md-6">
		<input type="submit" value="Submit new platform" class="btn btn-primary" />&nbsp;
		<label class="checkbox-inline" ng-if="loggedIn()"><input type="checkbox" ng-model="$parent.directAdd" />Skip review and add to ontology right away</label>
	</div>
	
</form>