<div class="row">
	<div ng-if="loginFailed" class="alert alert-danger" role="alert">
		<strong>Login failed!</strong> Please check if your username and
		password are spelled correctly.
	</div>

	<div class="col-md-4">
		<form name="loginForm" ng-submit="loginForm.$valid && login()">
			<div class="form-group" ng-class="{'has-error' : loginForm.usernameInput.$invalid && !loginForm.usernameInput.$pristine }">
				<label for="usernameInput">Username</label> <input type="text"
					class="form-control" id="usernameInput" name="usernameInput" ng-model="user.username" required />
				<p ng-show="loginForm.usernameInput.$invalid && !loginForm.usernameInput.$pristine" class="help-block">Enter your username.</p>
			</div>
			<div class="form-group" ng-class="{'has-error' : loginForm.passwordInput.$invalid && !loginForm.passwordInput.$pristine }">
				<label for="passwordInput">Password</label> <input type="password"
					class="form-control" id="passwordInput" name="passwordInput" ng-model="user.password" required />
				<p ng-show="loginForm.passwordInput.$invalid && !loginForm.passwordInput.$pristine" class="help-block">Enter your password.</p>
			</div>
			<button type="submit" class="btn btn-default" ng-disabled="!loginForm.$valid">Login</button>
		</form>
	</div>
</div>