<h2>P2P SCC Platforms</h2>

<div class="row">
	<div class="col-md-2">
		<pre ng-show="filteredPlatforms.length>0">Items {{pagination.begin + 1}}-{{pagination.end}} / {{filteredPlatforms.length}}</pre>
		<pre ng-hide="filteredPlatforms.length>0">No items found.</pre>
	</div>
	<div class="col-md-3 col-md-offset-7">
		<input type="text" ng-model="searchTerm" placeholder="Search name or resource types..." class="form-control" />
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td><strong>
						<a href="#" ng-click="changeOrderBy('label')">Platform 
							<span ng-if="orderBy.attribute === 'label'" class="glyphicon pull-right" 
								ng-class="{'glyphicon-chevron-up': !orderBy.reverse, 'glyphicon-chevron-down': orderBy.reverse}" aria-hidden="true"></span>
						</a></strong>
					</td>
					<td><strong>
						<a href="#" ng-click="changeOrderBy('url')">URL 
							<span ng-if="orderBy.attribute === 'url'" class="glyphicon pull-right" 
								ng-class="{'glyphicon-chevron-up': !orderBy.reverse, 'glyphicon-chevron-down': orderBy.reverse}" aria-hidden="true"></span>
						</a></strong>
					</td>
					<td><strong>
						<a href="#" ng-click="changeOrderBy('resourceTypesJoined')">Resource Types 
							<span ng-if="orderBy.attribute === 'resourceTypesJoined'" class="glyphicon pull-right" 
								ng-class="{'glyphicon-chevron-up': !orderBy.reverse, 'glyphicon-chevron-down': orderBy.reverse}" aria-hidden="true"></span>
						</a></strong>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="platform in paginatedPlatforms">
					<td><a href="platforms/{{platform.resourceName.substring(38)}}">{{platform.label}}</a></td>
					<td><a target="blank" href="{{platform.url}}">{{platform.url}}</a></td>
					<td>{{platform.resourceTypesJoined}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row text-center">
	<pagination total-items="filteredPlatforms.length"
		ng-model="pagination.currentPage" max-size="15"
		items-per-page="pagination.itemsPerPage" class="pagination-sm"
		boundary-links="true" rotate="true" num-pages="pagination.numPages"></pagination>
</div>
