<div class="row">
	<div class="col-md-11">
		<h2>
			<a ng-if="platformUri" href="ontology/resource/{{platformUri}}" title="Open resource detail view">{{platform.label}}</a>
			<span ng-if="!platformUri">{{platform.label}}</span>
		</h2>
	</div>
	<div class="col-md-1">
		<a ng-if="isSuggestion && platform.editFor" href="platforms/{{platform.editFor}}" class="label label-primary pull-right">Change suggestion</a>
		<span ng-if="isSuggestion && !platform.editFor" class="label label-primary pull-right">New platform suggestion</span><br /><br />
		<button type="button" class="btn btn-xs btn-primary row-margin-5 pull-right" ng-model="cssState.all" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
			 <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span> Expand descriptions
		</button>
	</div>
</div>
<table id="detailTable" class="table table-bordered">
	<tr>
		<td><strong>URL:</strong></td>
		<td><a href="{{platform.url}}" target="_blank">{{platform.url}}</a></td>
		<td></td>
	</tr>
	<tr ng-if="platform.description">
		<td><strong>Description:</strong></td>
		<td>{{platform.description}}</td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Resource Type:</strong></td>
		<td>
			<div ng-repeat="resourceType in platform.resourceTypes">{{resourceType.label}}
				<ul ng-if="resourceType.externals.length>0">
					<li ng-repeat="external in resourceType.externals" title="{{external.description}}">
						<a href="{{external.resource}}" target="blank" ng-if="external.label">{{external.label}}</a>
						<a href="{{external.resource}}" target="blank" ng-if="!external.label">{{external.resource}}</a>
					</li>
				</ul>
			</div>
			<div ng-if="checkChange(platform.resourceTypes, originalPlatform.resourceTypes, 'label')">
				<hr />
				<span ng-repeat="resourceType in originalPlatform.resourceTypes" title="former value"><em><s>{{resourceType.label}}<span ng-if="!$last">, </span></s></em></span>
			</div>
		</td>
		<td>
			<div ng-show="!descriptions"><em>Loading descriptions...</em></div>
			<div ng-show="descriptions" ng-click="cssState.rt = !cssState.rt" ng-class="{'ontologyDescription': !cssState.rt && !cssState.all}" title="Click to fix/unfix display">
				<strong><a href="ontology/resource/Resource_Type" target="_blank">{{descriptions["Resource_Type"]["label"]}}</a>:</strong>
				{{descriptions["Resource_Type"]["comment"]}}
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Consumer Involvement:</strong></td>
		<td>
			{{platform.consumerInvolvement}}
			<div ng-if="checkChange(platform.consumerInvolvement, originalPlatform.consumerInvolvement)">
				<hr>
				<em><s title="former value">{{originalPlatform.consumerInvolvement}}<span ng-hide="originalPlatform.consumerInvolvement">undefined</span></s></em>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.ci = !cssState.ci" ng-class="{'ontologyDescription': !cssState.ci && !cssState.all}" title="Click to fix/unfix display">
				<strong><a href="ontology/resource/Consumer_Involvement" target="_blank">{{descriptions["Consumer_Involvement"]["label"]}}</a>:</strong>
				{{descriptions["Consumer_Involvement"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Full-service" target="_blank">{{descriptions["Full-service"]["label"]}}</a>:</strong>
						{{descriptions["Full-service"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Self-service" target="_blank">{{descriptions["Self-service"]["label"]}}</a>:</strong>
						{{descriptions["Self-service"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/In-Between" target="_blank">{{descriptions["In-Between"]["label"]}}</a>:</strong>
						{{descriptions["In-Between"]["comment"]}}</li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Place of launch:</strong></td>
		<td><a target="blank" href="{{platform.launchCity.geonames}}">{{platform.launchCity.label}}</a><span
			ng-if="platform.launchCity.label">, </span><a target="blank"
			href="{{platform.launchCountry.geonames}}">{{platform.launchCountry.label}}</a>
			
			<div ng-if="checkChange(platform.launchCity, originalPlatform.launchCity, 'label') || checkChange(platform.launchCountry, originalPlatform.launchCountry, 'label')">
				<hr />
				<em><s title="former value">
					<a target="blank" href="{{originalPlatform.launchCity.geonames}}">{{originalPlatform.launchCity.label}}</a>
					<span ng-if="originalPlatform.launchCity">, </span>
					<a target="blank" href="{{originalPlatform.launchCountry.geonames}}">{{originalPlatform.launchCountry.label}}</a>
					<span ng-if="!originalPlatform.launchCity && !originalPlatform.launchCountry">undefined</span>
				</s></em>
			</div>
		</td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Year of launch:</strong></td>
		<td>{{platform.yearLaunchName}}
			<div ng-if="checkChange(platform.yearLaunch, originalPlatform.yearLaunch)">
				<hr>
				<em><s title="former value">{{originalPlatform.yearLaunchName}}<span ng-hide="originalPlatform.yearLaunch">undefined</span></s></em>
			</div>
		</td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Place of residence:</strong></td>
		<td><a target="blank" href="{{platform.residenceCity.geonames}}">{{platform.residenceCity.label}}</a><span
			ng-if="platform.residenceCity.label">, </span><a target="blank"
			href="{{platform.residenceCountry.geonames}}">{{platform.residenceCountry.label}}</a>

			<div ng-if="checkChange(platform.residenceCity, originalPlatform.residenceCity, 'label') || checkChange(platform.residenceCountry, originalPlatform.residenceCountry, 'label')">
				<hr />
				<em><s title="former value">
					<a target="blank" href="{{originalPlatform.residenceCity.geonames}}">{{originalPlatform.residenceCity.label}}</a>
					<span ng-if="originalPlatform.residenceCity">, </span>
					<a target="blank" href="{{originalPlatform.residenceCountry.geonames}}">{{originalPlatform.residenceCountry.label}}</a>
					<span ng-if="!originalPlatform.residenceCity && !originalPlatform.residenceCountry">undefined</span>
				</s></em>
			</div>
		</td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Languages:</strong></td>
		<td>
			<div ng-repeat="language in platform.languageLabels">{{language}}</div>
			<div ng-if="checkChange(platform.languages, originalPlatform.languages)">
				<hr />
				<span ng-repeat="language in originalPlatform.languages" title="former value"><em><s>{{language}}<span ng-if="!$last">, </span></s></em></span>
				<span ng-if="originalPlatform.languages.length === 0"><em><s>undefined</s></em></span>
			</div>
		</td>
		<td>
			<div ng-show="descriptions">
				<strong><a href="ontology/resource/Language">Language</a>s:</strong> The languages in which the platform's offerings are penned.
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Market Mediation:</strong></td>
		<td>
			<div ng-repeat="mediation in platform.marketMediations">{{mediation}}</div>
			<div ng-if="checkChange(platform.marketMediations, originalPlatform.marketMediations)">
				<hr />
				<span ng-repeat="mediation in originalPlatform.marketMediations" title="former value"><em><s>{{mediation}}<span ng-if="!$last">, </span></s></em></span>
				<span ng-if="originalPlatform.marketMediations.length === 0"><em><s>undefined</s></em></span>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.mm = !cssState.mm" ng-class="{'ontologyDescription': !cssState.mm && !cssState.all}" title="Click to fix/unfix display">
				<strong><a href="ontology/resource/Market_Mediation" target="_blank">{{descriptions["Market_Mediation"]["label"]}}</a>:</strong>
				{{descriptions["Market_Mediation"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Not-for-profit" target="_blank">{{descriptions["Not-for-profit"]["label"]}}</a>:</strong>
						{{descriptions["Not-for-profit"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Profit_from_peer_consumers" target="_blank">{{descriptions["Profit_from_peer_consumers"]["label"]}}</a>:</strong>
						{{descriptions["Profit_from_peer_consumers"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Profit_from_peer_providers" target="_blank">{{descriptions["Profit_from_peer_providers"]["label"]}}</a>:</strong>
						{{descriptions["Profit_from_peer_providers"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Profit_from_both" target="_blank">{{descriptions["Profit_from_both"]["label"]}}</a>:</strong>
						{{descriptions["Profit_from_both"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Indirect_profit" target="_blank">{{descriptions["Indirect_profit"]["label"]}}</a>:</strong>
						{{descriptions["Indirect_profit"]["comment"]}}
						<ul>
							<li><strong><a href="ontology/resource/Profit_from_advertisement" target="_blank">{{descriptions["Profit_from_advertisement"]["label"]}}</a>:</strong>
								{{descriptions["Profit_from_advertisement"]["comment"]}}</li>
							<li><strong><a href="ontology/resource/Profit_from_user_data" target="_blank">{{descriptions["Profit_from_user_data"]["label"]}}</a>:</strong>
								{{descriptions["Profit_from_user_data"]["comment"]}}</li>
						</ul></li>
					<li>Additional attributes
							<ul>
								<li><strong><a href="ontology/resource/Per_transaction" target="_blank">{{descriptions["Per_transaction"]["label"]}}</a>:</strong>
									{{descriptions["Per_transaction"]["comment"]}}</li>
								<li><strong><a href="ontology/resource/Per_listing" target="_blank">{{descriptions["Per_listing"]["label"]}}</a>:</strong>
									{{descriptions["Per_listing"]["comment"]}}</li>
								<li><strong><a href="ontology/resource/Membership_fee" target="_blank">{{descriptions["Membership_fee"]["label"]}}</a>:</strong>
									{{descriptions["Membership_fee"]["comment"]}}</li>
							</ul>
					</li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Market Integration:</strong></td>
		<td>{{platform.offering}}<span
			ng-if="platform.offering!==null && platform.geographicScope!==null">,
			</span> {{platform.geographicScope}}
			
			<div ng-if="checkChange(platform.offering, originalPlatform.offering) || checkChange(platform.geographicScope, originalPlatform.geographicScope)">
				<hr />
				<em><s title="former value">
					{{originalPlatform.offering}}
					<span ng-if="originalPlatform.offering && originalPlatform.geographicScope">, </span>
					{{originalPlatform.geographicScope}}
					<span ng-if="!originalPlatform.offering && !originalPlatform.geographicScope">undefined</span>
				</s></em>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.mi = !cssState.mi" ng-class="{'ontologyDescription': !cssState.mi && !cssState.all}" title="Click to fix/unfix display">
				<p>
					<strong><a href="ontology/resource/Market_Integration" target="_blank">{{descriptions["Market_Integration"]["label"]}}</a>:</strong>
					{{descriptions["Market_Integration"]["comment"]}}
				</p> <strong><a href="ontology/resource/Market_Offering" target="_blank">{{descriptions["Market_Offering"]["label"]}}</a>:</strong>
				{{descriptions["Market_Offering"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Integrated" target="_blank">{{descriptions["Integrated"]["label"]}}</a>:</strong>
						{{descriptions["Integrated"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Separated" target="_blank">{{descriptions["Separated"]["label"]}}</a>:</strong>
						{{descriptions["Separated"]["comment"]}}</li>
				</ul> <strong><a href="ontology/resource/Geographic_Scope" target="_blank">{{descriptions["Geographic_Scope"]["label"]}}</a>:</strong>
				{{descriptions["Geographic_Scope"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Neighbourhood-wide" target="_blank">{{descriptions["Neighbourhood-wide"]["label"]}}</a></strong></li>
					<li><strong><a href="ontology/resource/City-wide" target="_blank">{{descriptions["City-wide"]["label"]}}</a></strong></li>
					<li><strong><a href="ontology/resource/State-wide" target="_blank">{{descriptions["State-wide"]["label"]}}</a></strong></li>
					<li><strong><a href="ontology/resource/Country-wide" target="_blank">{{descriptions["Country-wide"]["label"]}}</a></strong></li>
					<li><strong><a href="ontology/resource/Global" target="_blank">{{descriptions["Global"]["label"]}}</a></strong></li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Money Flow:</strong></td>
		<td>{{platform.moneyFlow}}
			<div ng-if="checkChange(platform.moneyFlow, originalPlatform.moneyFlow)">
				<hr>
				<em><s title="former value">{{originalPlatform.moneyFlow}}<span ng-hide="originalPlatform.moneyFlow">undefined</span></s></em>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.mf = !cssState.mf" ng-class="{'ontologyDescription': !cssState.mf && !cssState.all}" title="Click to fix/unfix display">
				<strong><a href="ontology/resource/Money_Flow" target="_blank">{{descriptions["Money_Flow"]["label"]}}</a>:</strong>
				{{descriptions["Money_Flow"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/C2C" target="_blank">{{descriptions["C2C"]["label"]}}</a>:</strong>
						{{descriptions["C2C"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/C2B2C" target="_blank">{{descriptions["C2B2C"]["label"]}}</a>:</strong>
						{{descriptions["C2B2C"]["comment"]}}</li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>P2P SCC Pattern:</strong></td>
		<td>{{platform.pattern}}<span
			ng-if="platform.pattern!==null && platform.temporality!==null">,
			</span>{{platform.temporality}}
			<div ng-if="checkChange(platform.pattern, originalPlatform.pattern) || checkChange(platform.temporality, originalPlatform.temporality)">
				<hr />
				<em><s title="former value">
					{{originalPlatform.pattern}}
					<span ng-if="originalPlatform.pattern && originalPlatform.temporality">, </span>
					{{originalPlatform.temporality}}
					<span ng-if="!originalPlatform.pattern && !originalPlatform.temporality">undefined</span>
				</s></em>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.psp = !cssState.psp" ng-class="{'ontologyDescription': !cssState.psp && !cssState.all}" title="Click to fix/unfix display">
				<strong><a href="ontology/resource/P2P_SCC_Pattern" target="_blank">{{descriptions["P2P_SCC_Pattern"]["label"]}}</a>:</strong>
				{{descriptions["P2P_SCC_Pattern"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Deferred" target="_blank">{{descriptions["Deferred"]["label"]}}</a>:</strong>
						{{descriptions["Deferred"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Immediate" target="_blank">{{descriptions["Immediate"]["label"]}}</a>:</strong>
						{{descriptions["Immediate"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Recurrent" target="_blank">{{descriptions["Recurrent"]["label"]}}</a>:</strong>
						{{descriptions["Recurrent"]["comment"]}}</li>
				</ul> <strong><a href="ontology/resource/Temporality" target="_blank">{{descriptions["Temporality"]["label"]}}</a>:</strong>
				{{descriptions["Temporality"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Once" target="_blank">{{descriptions["Once"]["label"]}}</a>:</strong>
						{{descriptions["Once"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Often" target="_blank">{{descriptions["Often"]["label"]}}</a>:</strong>
						{{descriptions["Often"]["comment"]}}</li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Promoted Consumerism:</strong></td>
		<td>
			<div ng-repeat="consumerism in platform.consumerisms">{{consumerism}}</div>
			<div ng-if="checkChange(platform.consumerisms, originalPlatform.consumerisms)">
				<hr />
				<span ng-repeat="consumerism in originalPlatform.consumerisms" title="former value"><em><s>{{consumerism}}<span ng-if="!$last">, </span></s></em></span>
				<span ng-if="originalPlatform.consumerisms.length === 0"><em><s>undefined</s></em></span>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.sc = !cssState.sc" ng-class="{'ontologyDescription': !cssState.sc && !cssState.all}" title="Click to fix/unfix display">
				<strong><a href="ontology/resource/Sustainable_Consumerism" target="_blank">{{descriptions["Sustainable_Consumerism"]["label"]}}</a>:</strong>
				{{descriptions["Sustainable_Consumerism"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Social" target="_blank">{{descriptions["Social"]["label"]}}</a>:</strong>
						{{descriptions["Social"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Environmental" target="_blank">{{descriptions["Environmental"]["label"]}}</a>:</strong>
						{{descriptions["Environmental"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Economic" target="_blank">{{descriptions["Economic"]["label"]}}</a>:</strong>
						{{descriptions["Economic"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/None" target="_blank">{{descriptions["None"]["label"]}}</a>:</strong>
						{{descriptions["None"]["comment"]}}</li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Resource Owner:</strong></td>
		<td>{{platform.resourceOwner}}
			<div ng-if="checkChange(platform.resourceOwner, originalPlatform.resourceOwner)">
				<hr>
				<em><s title="former value">{{originalPlatform.resourceOwner}}<span ng-hide="originalPlatform.resourceOwner">undefined</span></s></em>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.ro = !cssState.ro" ng-class="{'ontologyDescription': !cssState.ro && !cssState.all}" title="Click to fix/unfix display">
				<strong><a href="ontology/resource/Resource_Owner" target="_blank">{{descriptions["Resource_Owner"]["label"]}}</a>:</strong>
				{{descriptions["Resource_Owner"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Private" target="_blank">{{descriptions["Private"]["label"]}}</a>:</strong>
						{{descriptions["Private"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Business" target="_blank">{{descriptions["Business"]["label"]}}</a>:</strong>
						{{descriptions["Business"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Private_and_business" target="_blank">{{descriptions["Private_and_business"]["label"]}}</a>:</strong>
						{{descriptions["Private_and_business"]["comment"]}}</li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Service Duration:</strong></td>
		<td>{{timeConverter(platform.serviceDurationMin)}}<span
			ng-if="platform.serviceDurationMin!==null && platform.serviceDurationMax!==null">
				to </span>{{timeConverter(platform.serviceDurationMax)}}
			<div ng-if="checkChange(platform.serviceDurationMin, originalPlatform.serviceDurationMin) || checkChange(platform.serviceDurationMax, originalPlatform.serviceDurationMax)">
				<hr />
				<em><s title="former value">
					{{originalPlatform.serviceDurationMin}}
					<span ng-if="originalPlatform.serviceDurationMin && originalPlatform.serviceDurationMax"> to </span>
					{{originalPlatform.serviceDurationMax}}
					<span ng-if="!originalPlatform.serviceDurationMin && !originalPlatform.serviceDurationMax">undefined</span>
				</s></em>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.sd = !cssState.sd" ng-class="{'ontologyDescription': !cssState.sd && !cssState.all}" title="Click to fix/unfix display">
				<strong>Service Duration:</strong> The amount of time the physical object is accessed during a service instance.
				<ul>
					<li><strong>Minutes</strong></li>
					<li><strong>Hours</strong></li>
					<li><strong>Days</strong></li>
					<li><strong>Weeks</strong></li>
					<li><strong>Months</strong></li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Smartphone Apps:</strong></td>
		<td><div ng-repeat="app in platform.apps">{{app}}</div>
			<div ng-if="checkChange(platform.apps, originalPlatform.apps)">
				<hr />
				<span ng-repeat="app in originalPlatform.apps" title="former value"><em><s>{{app}}<span ng-if="!$last">, </span></s></em></span>
				<span ng-if="originalPlatform.apps.length === 0"><em><s>undefined</s></em></span>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.sa = !cssState.sa" ng-class="{'ontologyDescription': !cssState.sa && !cssState.all}" title="Click to fix/unfix display">
				<strong><a href="ontology/resource/Smartphone_App" target="_blank">{{descriptions["Smartphone_App"]["label"]}}</a>:</strong>
				{{descriptions["Smartphone_App"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Android_app" target="_blank">{{descriptions["Android_app"]["label"]}}</a>:</strong>
						{{descriptions["Android_app"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/iOS_app" target="_blank">{{descriptions["iOS_app"]["label"]}}</a>:</strong>
						{{descriptions["iOS_app"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Windows_Phone_app" target="_blank">{{descriptions["Windows_Phone_app"]["label"]}}</a>:</strong>
						{{descriptions["Windows_Phone_app"]["comment"]}}</li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Trust Contribution:</strong></td>
		<td><div ng-repeat="trustContribution in platform.trustContributions">{{trustContribution}}</div>
			<div ng-if="checkChange(platform.trustContributions, originalPlatform.trustContributions)">
				<hr />
				<span ng-repeat="trustContribution in originalPlatform.trustContributions" title="former value"><em><s>{{trustContribution}}<span ng-if="!$last">, </span></s></em></span>
				<span ng-if="originalPlatform.trustContributions.length === 0"><em><s>undefined</s></em></span>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.tc = !cssState.tc" ng-class="{'ontologyDescription': !cssState.tc && !cssState.all}" title="Click to fix/unfix display">
				<strong><a href="ontology/resource/Trust_Contribution" target="_blank">{{descriptions["Trust_Contribution"]["label"]}}</a>:</strong>
				{{descriptions["Trust_Contribution"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Provider_ratings" target="_blank">{{descriptions["Provider_ratings"]["label"]}}</a>:</strong>
						{{descriptions["Provider_ratings"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Provider_and_consumer_ratings" target="_blank">{{descriptions["Provider_and_consumer_ratings"]["label"]}}</a>:</strong>
						{{descriptions["Provider_and_consumer_ratings"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Referral" target="_blank">{{descriptions["Referral"]["label"]}}</a>:</strong>
						{{descriptions["Referral"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Vouching" target="_blank">{{descriptions["Vouching"]["label"]}}</a>:</strong>
						{{descriptions["Vouching"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Value-added_services" target="_blank">{{descriptions["Value-added_services"]["label"]}}</a>:</strong>
						{{descriptions["Value-added_services"]["comment"]}}</li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Type of Accessed Object:</strong></td>
		<td>{{platform.typeOfAccessedObject}}
			<div ng-if="checkChange(platform.typeOfAccessedObject, originalPlatform.typeOfAccessedObject)">
				<hr>
				<em><s title="former value">{{originalPlatform.typeOfAccessedObject}}<span ng-hide="originalPlatform.typeOfAccessedObject">undefined</span></s></em>
			</div>
		</td>
		<td>
			<div ng-show="descriptions" ng-click="cssState.toa = !cssState.toa" ng-class="{'ontologyDescription': !cssState.toa && !cssState.all}" title="Click to fix/unfix display">
				<strong><a href="ontology/resource/Type_of_Accessed_Object" target="_blank">{{descriptions["Type_of_Accessed_Object"]["label"]}}</a>:</strong>
				{{descriptions["Type_of_Accessed_Object"]["comment"]}}
				<ul>
					<li><strong><a href="ontology/resource/Functional" target="_blank">{{descriptions["Functional"]["label"]}}</a>:</strong>
						{{descriptions["Functional"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Experiential" target="_blank">{{descriptions["Experiential"]["label"]}}</a>:</strong>
						{{descriptions["Experiential"]["comment"]}}</li>
					<li><strong><a href="ontology/resource/Mixed" target="_blank">{{descriptions["Mixed"]["label"]}}</a>:</strong>
						{{descriptions["Mixed"]["comment"]}}</li>
				</ul>
				<p class="descriptionGradient">&nbsp;</p>
			</div>
		</td>
	</tr>
</table>
<div class="col-md-12" ng-if="loggedIn() && isSuggestion">
	<button type="button" ng-click="saveSuggestion()" class="btn btn-primary">Add to ontology</button>&nbsp;
	<button type="button" ng-click="editSuggestion()" class="btn btn-success">Edit Suggestion</button>&nbsp;
	<button type="button" ng-click="removeSuggestion()" class="btn btn-danger">Delete Suggestion</button>
</div>
<div class="col-md-12" ng-if="!isSuggestion">
	<button type="button" ng-click="editPlatform()" class="btn btn-success">Edit Platform</button>&nbsp;
	<button type="button" ng-if="loggedIn()" ng-click="removePlatform()" class="btn btn-danger">Delete Platform</button>
</div>