<a ng-if="isSuggestion && platform.editFor" href="platforms/{{platform.editFor}}" class="label label-primary pull-right">Change suggestion</a>
<span ng-if="isSuggestion && !platform.editFor" class="label label-primary pull-right">New platform suggestion</span>
<h1>
	<a href="{{platform.url}}" target="blank">{{platform.label}}</a>
</h1>
<table id="detailTable" class="table table-bordered">
	<tr ng-if="platform.description">
		<td><strong>Description:</strong></td>
		<td>{{platform.description}}</td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Resource Type:</strong></td>
		<td>
			<div ng-repeat="resourceType in platform.resourceTypes">{{resourceType.label}}
				<ul ng-if="resourceType.externals.length>0">
					<li ng-repeat="external in resourceType.externals" title="{{external.description}}">
						<a href="{{external.resource}}" target="blank" ng-if="external.label">{{external.label}}</a>
						<a href="{{external.resource}}" target="blank" ng-if="!external.label">{{external.resource}}</a>
					</li>
				</ul>
			</div>
			<div ng-if="checkChange(platform.resourceTypes, originalPlatform.resourceTypes, 'label')">
				<hr />
				<span ng-repeat="resourceType in originalPlatform.resourceTypes" title="former value"><em><s>{{resourceType.label}}<span ng-if="!$last">, </span></s></em></span>
			</div>
		</td>
		<td><strong>{{descriptions["Resource_Type"]["label"]}}:</strong>
			{{descriptions["Resource_Type"]["comment"]}}</td>
	</tr>
	<tr>
		<td><strong>Consumer Involvement:</strong></td>
		<td>
			{{platform.consumerInvolvement}}
			<div ng-if="checkChange(platform.consumerInvolvement, originalPlatform.consumerInvolvement)">
				<hr>
				<em><s title="former value">{{originalPlatform.consumerInvolvement}}<span ng-hide="originalPlatform.consumerInvolvement">undefined</span></s></em>
			</div>
		</td>
		<td><strong>{{descriptions["Consumer_Involvement"]["label"]}}:</strong>
			{{descriptions["Consumer_Involvement"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Full-service"]["label"]}}:</strong>
					{{descriptions["Full-service"]["comment"]}}</li>
				<li><strong>{{descriptions["Self-service"]["label"]}}:</strong>
					{{descriptions["Self-service"]["comment"]}}</li>
				<li><strong>{{descriptions["In-Between"]["label"]}}:</strong>
					{{descriptions["In-Between"]["comment"]}}</li>
			</ul></td>
	</tr>
	<tr>
		<td><strong>Place of launch:</strong></td>
		<td><a target="blank" href="{{platform.launchCity.geonames}}">{{platform.launchCity.label}}</a><span
			ng-if="platform.launchCity.label">, </span><a target="blank"
			href="{{platform.launchCountry.geonames}}">{{platform.launchCountry.label}}</a>
			
			<div ng-if="checkChange(platform.launchCity, originalPlatform.launchCity, 'label') || checkChange(platform.launchCountry, originalPlatform.launchCountry, 'label')">
				<hr />
				<em><s title="former value">
					<a target="blank" href="{{originalPlatform.launchCity.geonames}}">{{originalPlatform.launchCity.label}}</a>
					<span ng-if="originalPlatform.launchCity">, </span>
					<a target="blank" href="{{originalPlatform.launchCountry.geonames}}">{{originalPlatform.launchCountry.label}}</a>
					<span ng-if="!originalPlatform.launchCity && !originalPlatform.launchCountry">undefined</span>
				</s></em>
			</div>
		</td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Year of launch:</strong></td>
		<td>{{platform.yearLaunchName}}
			<div ng-if="checkChange(platform.yearLaunch, originalPlatform.yearLaunch)">
				<hr>
				<em><s title="former value">{{originalPlatform.yearLaunchName}}<span ng-hide="originalPlatform.yearLaunch">undefined</span></s></em>
			</div>
		</td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Place of residence:</strong></td>
		<td><a target="blank" href="{{platform.residenceCity.geonames}}">{{platform.residenceCity.label}}</a><span
			ng-if="platform.residenceCity.label">, </span><a target="blank"
			href="{{platform.residenceCountry.geonames}}">{{platform.residenceCountry.label}}</a>

			<div ng-if="checkChange(platform.residenceCity, originalPlatform.residenceCity, 'label') || checkChange(platform.residenceCountry, originalPlatform.residenceCountry, 'label')">
				<hr />
				<em><s title="former value">
					<a target="blank" href="{{originalPlatform.residenceCity.geonames}}">{{originalPlatform.residenceCity.label}}</a>
					<span ng-if="originalPlatform.residenceCity">, </span>
					<a target="blank" href="{{originalPlatform.residenceCountry.geonames}}">{{originalPlatform.residenceCountry.label}}</a>
					<span ng-if="!originalPlatform.residenceCity && !originalPlatform.residenceCountry">undefined</span>
				</s></em>
			</div>
		</td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Languages:</strong></td>
		<td>
			<div ng-repeat="language in platform.languageLabels">{{language}}</div>
			<div ng-if="checkChange(platform.languages, originalPlatform.languages)">
				<hr />
				<span ng-repeat="language in originalPlatform.languages" title="former value"><em><s>{{language}}<span ng-if="!$last">, </span></s></em></span>
				<span ng-if="originalPlatform.languages.length === 0"><em><s>undefined</s></em></span>
			</div>
		</td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Market Mediation:</strong></td>
		<td>
			<div ng-repeat="mediation in platform.marketMediations">{{mediation}}</div>
			<div ng-if="checkChange(platform.marketMediations, originalPlatform.marketMediations)">
				<hr />
				<span ng-repeat="mediation in originalPlatform.marketMediations" title="former value"><em><s>{{mediation}}<span ng-if="!$last">, </span></s></em></span>
				<span ng-if="originalPlatform.marketMediations.length === 0"><em><s>undefined</s></em></span>
			</div>
		</td>
		<td><strong>{{descriptions["Market_Mediation"]["label"]}}:</strong>
			{{descriptions["Market_Mediation"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Profit_from_peer_consumers"]["label"]}}:</strong>
					{{descriptions["Profit_from_peer_consumers"]["comment"]}}</li>
				<li><strong>{{descriptions["Profit_from_peer_providers"]["label"]}}:</strong>
					{{descriptions["Profit_from_peer_providers"]["comment"]}}</li>
				<li><strong>{{descriptions["Profit_from_both"]["label"]}}:</strong>
					{{descriptions["Profit_from_both"]["comment"]}}</li>
				<li><strong>{{descriptions["Indirect_profit"]["label"]}}:</strong>
					{{descriptions["Indirect_profit"]["comment"]}}
					<ul>
						<li><strong>{{descriptions["Profit_from_advertisement"]["label"]}}:</strong>
							{{descriptions["Profit_from_advertisement"]["comment"]}}</li>
						<li><strong>{{descriptions["Profit_from_user_data"]["label"]}}:</strong>
							{{descriptions["Profit_from_user_data"]["comment"]}}</li>
					</ul></li>
				<li>Additional attributes
						<ul>
							<li><strong>{{descriptions["Per_transaction"]["label"]}}:</strong>
								{{descriptions["Per_transaction"]["comment"]}}</li>
							<li><strong>{{descriptions["Per_listing"]["label"]}}:</strong>
								{{descriptions["Per_listing"]["comment"]}}</li>
							<li><strong>{{descriptions["Membership_fee"]["label"]}}:</strong>
								{{descriptions["Membership_fee"]["comment"]}}</li>
						</ul>
				</li>
			</ul></td>
	</tr>
	<tr>
		<td><strong>Integration:</strong></td>
		<td>{{platform.offering}}<span
			ng-if="platform.offering!==null && platform.geographicScope!==null">,
			</span> {{platform.geographicScope}}
			
			<div ng-if="checkChange(platform.offering, originalPlatform.offering) || checkChange(platform.geographicScope, originalPlatform.geographicScope)">
				<hr />
				<em><s title="former value">
					{{originalPlatform.offering}}
					<span ng-if="originalPlatform.offering && originalPlatform.geographicScope">, </span>
					{{originalPlatform.geographicScope}}
					<span ng-if="!originalPlatform.offering && !originalPlatform.geographicScope">undefined</span>
				</s></em>
			</div>
		</td>
		<td>
			<p>
				<strong>{{descriptions["Market_Integration"]["label"]}}:</strong>
				{{descriptions["Market_Integration"]["comment"]}}
			</p> <strong>{{descriptions["Market_Offering"]["label"]}}:</strong>
			{{descriptions["Market_Offering"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Integrated"]["label"]}}:</strong>
					{{descriptions["Integrated"]["comment"]}}</li>
				<li><strong>{{descriptions["Separated"]["label"]}}:</strong>
					{{descriptions["Separated"]["comment"]}}</li>
			</ul> <strong>{{descriptions["Geographic_Scope"]["label"]}}:</strong>
			{{descriptions["Geographic_Scope"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Neighbourhood-wide"]["label"]}}</strong></li>
				<li><strong>{{descriptions["City-wide"]["label"]}}</strong></li>
				<li><strong>{{descriptions["State-wide"]["label"]}}</strong></li>
				<li><strong>{{descriptions["Country-wide"]["label"]}}</strong></li>
				<li><strong>{{descriptions["Global"]["label"]}}</strong></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Money Flow:</strong></td>
		<td>{{platform.moneyFlow}}
			<div ng-if="checkChange(platform.moneyFlow, originalPlatform.moneyFlow)">
				<hr>
				<em><s title="former value">{{originalPlatform.moneyFlow}}<span ng-hide="originalPlatform.moneyFlow">undefined</span></s></em>
			</div>
		</td>
		<td><strong>{{descriptions["Money_Flow"]["label"]}}:</strong>
			{{descriptions["Money_Flow"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["C2C"]["label"]}}:</strong>
					{{descriptions["C2C"]["comment"]}}</li>
				<li><strong>{{descriptions["C2B2C"]["label"]}}:</strong>
					{{descriptions["C2B2C"]["comment"]}}</li>
			</ul></td>
	</tr>
	<tr>
		<td><strong>P2P SCC Pattern:</strong></td>
		<td>{{platform.pattern}}<span
			ng-if="platform.pattern!==null && platform.temporality!==null">,
			</span>{{platform.temporality}}
			<div ng-if="checkChange(platform.pattern, originalPlatform.pattern) || checkChange(platform.temporality, originalPlatform.temporality)">
				<hr />
				<em><s title="former value">
					{{originalPlatform.pattern}}
					<span ng-if="originalPlatform.pattern && originalPlatform.temporality">, </span>
					{{originalPlatform.temporality}}
					<span ng-if="!originalPlatform.pattern && !originalPlatform.temporality">undefined</span>
				</s></em>
			</div>
		</td>
		<td><strong>{{descriptions["P2P_SCC_Pattern"]["label"]}}:</strong>
			{{descriptions["P2P_SCC_Pattern"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Deferred"]["label"]}}:</strong>
					{{descriptions["Deferred"]["comment"]}}</li>
				<li><strong>{{descriptions["Immediate"]["label"]}}:</strong>
					{{descriptions["Immediate"]["comment"]}}</li>
				<li><strong>{{descriptions["Recurrent"]["label"]}}:</strong>
					{{descriptions["Recurrent"]["comment"]}}</li>
			</ul> <strong>{{descriptions["Temporality"]["label"]}}:</strong>
			{{descriptions["Temporality"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Once"]["label"]}}:</strong>
					{{descriptions["Once"]["comment"]}}</li>
				<li><strong>{{descriptions["Often"]["label"]}}:</strong>
					{{descriptions["Often"]["comment"]}}</li>
			</ul></td>
	</tr>
	<tr>
		<td><strong>Promoted Consumerism:</strong></td>
		<td>
			<div ng-repeat="consumerism in platform.consumerisms">{{consumerism}}</div>
			<div ng-if="checkChange(platform.consumerisms, originalPlatform.consumerisms)">
				<hr />
				<span ng-repeat="consumerism in originalPlatform.consumerisms" title="former value"><em><s>{{consumerism}}<span ng-if="!$last">, </span></s></em></span>
				<span ng-if="originalPlatform.consumerisms.length === 0"><em><s>undefined</s></em></span>
			</div>
		</td>
		<td><strong>{{descriptions["Sustainable_Consumerism"]["label"]}}:</strong>
			{{descriptions["Sustainable_Consumerism"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Social"]["label"]}}:</strong>
					{{descriptions["Social"]["comment"]}}</li>
				<li><strong>{{descriptions["Environmental"]["label"]}}:</strong>
					{{descriptions["Environmental"]["comment"]}}</li>
				<li><strong>{{descriptions["Economic"]["label"]}}:</strong>
					{{descriptions["Economic"]["comment"]}}</li>
				<li><strong>{{descriptions["None"]["label"]}}:</strong>
					{{descriptions["None"]["comment"]}}</li>
			</ul></td>
	</tr>
	<tr>
		<td><strong>Resource Owner:</strong></td>
		<td>{{platform.resourceOwner}}
			<div ng-if="checkChange(platform.resourceOwner, originalPlatform.resourceOwner)">
				<hr>
				<em><s title="former value">{{originalPlatform.resourceOwner}}<span ng-hide="originalPlatform.resourceOwner">undefined</span></s></em>
			</div>
		</td>
		<td><strong>{{descriptions["Resource_Owner"]["label"]}}:</strong>
			{{descriptions["Resource_Owner"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Private"]["label"]}}:</strong>
					{{descriptions["Private"]["comment"]}}</li>
				<li><strong>{{descriptions["Business"]["label"]}}:</strong>
					{{descriptions["Business"]["comment"]}}</li>
				<li><strong>{{descriptions["Private_and_business"]["label"]}}:</strong>
					{{descriptions["Private_and_business"]["comment"]}}</li>
			</ul></td>
	</tr>
	<tr>
		<td><strong>Service Duration:</strong></td>
		<td>{{timeConverter(platform.serviceDurationMin)}}<span
			ng-if="platform.serviceDurationMin!==null && platform.serviceDurationMax!==null">
				to </span>{{timeConverter(platform.serviceDurationMax)}}
			<div ng-if="checkChange(platform.serviceDurationMin, originalPlatform.serviceDurationMin) || checkChange(platform.serviceDurationMax, originalPlatform.serviceDurationMax)">
				<hr />
				<em><s title="former value">
					{{originalPlatform.serviceDurationMin}}
					<span ng-if="originalPlatform.serviceDurationMin && originalPlatform.serviceDurationMax"> to </span>
					{{originalPlatform.serviceDurationMax}}
					<span ng-if="!originalPlatform.serviceDurationMin && !originalPlatform.serviceDurationMax">undefined</span>
				</s></em>
			</div>
		</td>
	</tr>
	<tr>
		<td><strong>Smartphone Apps:</strong></td>
		<td><div ng-repeat="app in platform.apps">{{app}}</div>
			<div ng-if="checkChange(platform.apps, originalPlatform.apps)">
				<hr />
				<span ng-repeat="app in originalPlatform.apps" title="former value"><em><s>{{app}}<span ng-if="!$last">, </span></s></em></span>
				<span ng-if="originalPlatform.apps.length === 0"><em><s>undefined</s></em></span>
			</div>
		</td>
		<td><strong>{{descriptions["Smartphone_App"]["label"]}}:</strong>
			{{descriptions["Smartphone_App"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Android_app"]["label"]}}:</strong>
					{{descriptions["Android_app"]["comment"]}}</li>
				<li><strong>{{descriptions["iOS_app"]["label"]}}:</strong>
					{{descriptions["iOS_app"]["comment"]}}</li>
				<li><strong>{{descriptions["Windows_Phone_app"]["label"]}}:</strong>
					{{descriptions["Windows_Phone_app"]["comment"]}}</li>
			</ul></td>
	</tr>
	<tr>
		<td><strong>Trust Contribution:</strong></td>
		<td><div ng-repeat="trustContribution in platform.trustContributions">{{trustContribution}}</div>
			<div ng-if="checkChange(platform.trustContributions, originalPlatform.trustContributions)">
				<hr />
				<span ng-repeat="trustContribution in originalPlatform.trustContributions" title="former value"><em><s>{{trustContribution}}<span ng-if="!$last">, </span></s></em></span>
				<span ng-if="originalPlatform.trustContributions.length === 0"><em><s>undefined</s></em></span>
			</div>
		</td>
		<td><strong>{{descriptions["Trust_Contribution"]["label"]}}:</strong>
			{{descriptions["Trust_Contribution"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Provider_ratings"]["label"]}}:</strong>
					{{descriptions["Provider_ratings"]["comment"]}}</li>
				<li><strong>{{descriptions["Provider_and_consumer_ratings"]["label"]}}:</strong>
					{{descriptions["Provider_and_consumer_ratings"]["comment"]}}</li>
				<li><strong>{{descriptions["Referral"]["label"]}}:</strong>
					{{descriptions["Referral"]["comment"]}}</li>
				<li><strong>{{descriptions["Vouching"]["label"]}}:</strong>
					{{descriptions["Vouching"]["comment"]}}</li>
				<li><strong>{{descriptions["Value-added_services"]["label"]}}:</strong>
					{{descriptions["Value-added_services"]["comment"]}}</li>
			</ul></td>
	</tr>
	<tr>
		<td><strong>Type of Accessed Object:</strong></td>
		<td>{{platform.typeOfAccessedObject}}
			<div ng-if="checkChange(platform.typeOfAccessedObject, originalPlatform.typeOfAccessedObject)">
				<hr>
				<em><s title="former value">{{originalPlatform.typeOfAccessedObject}}<span ng-hide="originalPlatform.typeOfAccessedObject">undefined</span></s></em>
			</div>
		</td>
		<td><strong>{{descriptions["Type_of_Accessed_Object"]["label"]}}:</strong>
			{{descriptions["Type_of_Accessed_Object"]["comment"]}}
			<ul>
				<li><strong>{{descriptions["Functional"]["label"]}}:</strong>
					{{descriptions["Functional"]["comment"]}}</li>
				<li><strong>{{descriptions["Experiential"]["label"]}}:</strong>
					{{descriptions["Experiential"]["comment"]}}</li>
				<li><strong>{{descriptions["Mixed"]["label"]}}:</strong>
					{{descriptions["Mixed"]["comment"]}}</li>
			</ul></td>
	</tr>
</table>
<div class="col-md-12" ng-if="loggedIn() && isSuggestion">
	<button type="button" ng-click="saveSuggestion()" class="btn btn-primary">Add to ontology</button>&nbsp;
	<button type="button" ng-click="editSuggestion()" class="btn btn-success">Edit Suggestion</button>&nbsp;
	<button type="button" ng-click="removeSuggestion()" class="btn btn-danger">Delete Suggestion</button>
</div>
<div class="col-md-12" ng-if="!isSuggestion">
	<button type="button" ng-click="editPlatform()" class="btn btn-success">Edit Platform</button>&nbsp;
	<button type="button" ng-if="loggedIn()" ng-click="removePlatform()" class="btn btn-danger">Delete Platform</button>
</div>